.header-wrapper,
.header-container {
  max-width: unset;
  padding: 0;
}

h1.home-h1 {
  margin: 0;
  line-height: 0.9em;
}

h1.home-h1 span {
  opacity: 0;
  z-index: 0;
  position: absolute;
  max-height: 1px;
  margin: 0;
}

.masthead {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.masthead .logo {
  max-width: 100%;
  width: 150px;
  height: auto;
  padding-top: 4px;
  padding-bottom: 8px;
}

.masthead .logo img {
  width: auto;
  height: 28px;
}

.masthead .logo a:after {
  background-color: transparent;
  width: 0;
}

.search-bar.fixed-bar {
  padding-bottom: 16px;
}

.fixed-bar.is_stuck {
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 100%;
  width: 100% !important;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.fixed-subscribe {
  display: none;
  justify-content: flex-end;
}

.fixed-subscribe .btn {
  margin-bottom: 0;
}

.fixed-bar.is_stuck .fixed-subscribe {
  display: flex;
  max-width: 330px !important;
  text-align: right;
}

.fixed-bar > .row {
  padding: 14px 0;
}

.fixed-bar.is_stuck > .row {
  max-width: 1170px;
  margin: 0 auto;
  max-height: inherit;
}

.fixed-progress {
  position: absolute;
  bottom: 0;
  display: none;
}

.fixed-bar.is_stuck .fixed-progress {
  display: block;
}

.fixed-bar.is_stuck .fixed-progress span {
  width: 100%;
  height: 6px;
  background-color: #9d2227;
  display: block;
  transform: translateX(-100%);
}

.slicknav_nav .search-bar, .slicknav_nav #cludo_search_form_mobile, .slicknav_nav .cludo_search_form {
  padding: 0 0 3px 0 !important;
}

.slicknav_nav .search-bar input, .slicknav_nav #cludo_search_form_mobile input, .slicknav_nav .cludo_search_form input {
  border: 0;
}

.slicknav_nav .search-bar .row, .slicknav_nav #cludo_search_form_mobile .row, .slicknav_nav .cludo_search_form .row {
  border-top: 1px solid #e7e6e7;
}

.slicknav_nav .search-bar .row > div:first-of-type, .slicknav_nav #cludo_search_form_mobile .row > div:first-of-type, .slicknav_nav .cludo_search_form .row > div:first-of-type {
  display: none;
}

.slicknav_nav .search-bar button, .slicknav_nav #cludo_search_form_mobile button, .slicknav_nav .cludo_search_form button {
  background-color: transparent;
  color: #717683;
  border-radius: 0;
  padding-bottom: 0;
}

.slicknav_nav .search-bar button:hover, .slicknav_nav #cludo_search_form_mobile button:hover, .slicknav_nav .cludo_search_form button:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.slicknav_nav .search-bar .cludo-categories, .slicknav_nav #cludo_search_form_mobile .cludo-categories, .slicknav_nav .cludo_search_form .cludo-categories {
  display: none;
}

.slicknav_nav .mobile-subscribe .subscribe-cover {
  padding-left: 0;
  padding-right: 0;
}

.slicknav_nav .mobile-subscribe .subscribe-cover a {
  padding-bottom: 0;
  margin-bottom: 0;
}

.slicknav_nav .mobile-subscribe .subscribe-text {
  color: #2c2e32;
  padding-bottom: 15px;
}

.slicknav_nav .mobile-subscribe .subscribe-text br {
  display: none;
}

.slicknav_nav .mobile-subscribe .subscribe-text strong {
  line-height: 1.2em;
  display: block;
  font-size: 1rem;
}

.slicknav_nav .mobile-subscribe .subscribe-text .btn {
  margin-top: 5px;
  margin-bottom: 0;
}

.slicknav_nav .mobile-subscribe .subscribe-text a {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.slicknav_nav .mobile-subscribe .subscribe-text a:not(.btn) {
  line-height: 1em;
}

.slicknav_nav .social-links {
  border-top: 1px solid #e7e6e7;
}

.slicknav_nav .social-links ul {
  text-align: center;
}

.slicknav_nav .social-links ul li {
  display: inline-block;
}

.slicknav_nav .social-links ul li a {
  color: #717683;
  font-size: 1rem;
  margin-right: 5px;
}

.masthead .wrapper {
  position: relative;
}

.drop-down-menu:not(.mobile-only-drop) {
  padding-top: 20px;
}

.drop-down-menu:not(.mobile-only-drop) > ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding-left: 0;
  -webkit-transition: none;
  transition: none;
}

.drop-down-menu:not(.mobile-only-drop) > ul > li > a {
  padding-bottom: 10px;
}

.drop-down-menu:not(.mobile-only-drop) > ul > li > ul:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 6px;
  top: -7px;
  background-color: #9d2227;
  left: -1px;
}

.drop-down-menu li {
  color: #fff;
  display: inline-block;
  float: left;
  margin: 0 2px 0 0;
  padding: 12px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.drop-down-menu:not(.mobile-only-drop) li a {
  text-decoration: none;
  display: block;
}

.drop-down-menu:not(.mobile-only-drop) li a:hover, .drop-down-menu:not(.mobile-only-drop) li a:focus {
  color: #9d2227;
}

.drop-down-menu:not(.mobile-only-drop) > ul > li > a {
  font-weight: 600;
}

.drop-down-menu:not(.mobile-only-drop) .icon-arrow-down {
  font-size: 0.35rem;
  position: relative;
  top: -2px;
}

.drop-down-menu:not(.mobile-only-drop) li:hover, .drop-down-menu:not(.mobile-only-drop) li:focus {
  background: #fff;
  cursor: pointer;
}

.drop-down-menu:not(.mobile-only-drop) li li:hover, .drop-down-menu:not(.mobile-only-drop) li li:focus {
  background-color: #9d2227;
}

.drop-down-menu:not(.mobile-only-drop) li li:hover a, .drop-down-menu:not(.mobile-only-drop) li li:focus a {
  color: #fff;
}

.drop-down-menu:not(.mobile-only-drop) ul li ul {
  background: #fff;
  visibility: hidden;
  opacity: 0;
  float: left;
  min-width: 100%;
  position: absolute;
  margin-top: 0;
  left: 0;
  z-index: 999;
  border: 1px solid #e7e6e7;
}

@media (hover) {
  .drop-down-menu:not(.mobile-only-drop) ul li:hover > ul,
    .drop-down-menu:not(.mobile-only-drop) ul li ul:hover, .drop-down-menu:not(.mobile-only-drop) ul li:focus > ul,
    .drop-down-menu:not(.mobile-only-drop) ul li ul:focus, .drop-down-menu:not(.mobile-only-drop) ul a:focus + ul, .drop-down-menu:not(.mobile-only-drop) ul:focus-within {
      visibility: visible;
      opacity: 1;
    }
}

.drop-down-menu:not(.mobile-only-drop) ul li ul li {
  clear: both;
  padding: 5px 18px 5px 18px;
  border-bottom: 1px solid #e7e6e7;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: none;
  white-space: nowrap;
}

.drop-down-menu:after {
  content: "";
  display: table;
  clear: both;
}

.drop-down-menu:not(.mobile-only-drop).sub-nav li {
  text-transform: none;
}

.drop-down-menu:not(.mobile-only-drop).sub-nav.tert-nav {
  border-top: 1px solid #e7e6e7;
  border-bottom: 1px solid #e7e6e7;
  display: block !important;
  padding-top: 15px !important;
}

.drop-down-menu:not(.mobile-only-drop).sub-nav.quad-nav {
  display: block !important;
  border-bottom: 1px solid #e7e6e7 !important;
}

.drop-down-menu:not(.mobile-only-drop).sub-nav.quad-nav .icon-arrow-down {
  font-size: 8px !important;
}

.drop-down-menu:not(.mobile-only-drop).sub-nav.quad-nav small {
  font-size: 0.75em;
}

.drop-down-menu:not(.mobile-only-drop).sub-nav.quad-nav strong a {
  color: #9d2227;
}

.drop-down-menu:not(.mobile-only-drop).sub-nav.quad-nav.drop-down-menu > ul > li > ul {
  right: 0;
  left: auto;
  margin-top: 6px;
}

.drop-down-menu:not(.mobile-only-drop).sub-nav.quad-nav.drop-down-menu > ul > li > ul:before {
  right: 0;
  left: auto;
  width: 100%;
}

.drop-down-menu.mobile-only-drop .open-mobile-drop {
  display: block;
  position: relative;
  top: -8px;
  margin-left: 5px;
  cursor: pointer;
}

.drop-down-menu.mobile-only-drop .open-mobile-drop span {
  display: block;
  background-color: #9d2227;
  color: #fff;
  line-height: 1em;
  padding: 10px 5px;
}

.drop-down-menu.mobile-only-drop .open-mobile-drop span:before {
  width: 2em;
}

.drop-down-menu.mobile-only-drop .mobile-secondary-nav li {
  border-top: 1px solid #e7e6e7;
  padding-top: 8px;
}

.drop-down-menu.mobile-only-drop .mobile-secondary-nav.mobile-open {
  display: block !important;
}

.masthead .utility {
  display: none;
}

.utility {
  background-color: #2c2e32;
  color: #fff;
}

.utility .wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.utility .btn {
  margin-bottom: 0;
}

.utility .social-links {
  padding-top: 3px;
}

.utility .social-links a {
  display: inline-block;
  opacity: 0.7;
  color: #fff;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  text-transform: uppercase;
}

.utility .social-links .icon-forum:before {
  padding-right: 5px;
}

.utility .social-links .icon-forum:after {
  content: "forums";
  font-weight: bold;
  border-right: 1px solid #6d6e72;
  padding-right: 20px;
  font-size: 0.8rem;
}

.utility .social-links li:first-of-type a strong {
  font-size: 0.8em;
}

.utility a:hover {
  opacity: 1;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.utility .social-links ul, .utility .social-links li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.utility .social-links li {
  display: inline-block;
}

.page-header .wrapper .drop-down-menu .icon-arrow-down {
  top: -5px;
}

#MainNav_MainNavigationControl_magazineMainNavPanel > .search-bar {
  display: none;
}

.search-bar {
  padding-bottom: 25px;
  z-index: 500;
}

.search-bar .row {
  margin: 0;
}

.search-bar .row > div {
  padding: 0;
  position: relative;
  z-index: 100;
}

.search-bar button {
  border-radius: 0rem 2.5rem 2.5rem 0rem;
  text-align: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.search-bar .select-styled {
  border-radius: 2.5rem 0rem 0rem 2.5rem;
  text-align: center;
  padding: 12px;
  border-right: 0;
}

.search-bar button, .search-bar .select, .search-bar input {
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search-bar .icon-search {
  font-size: 1.25rem;
}

footer .social-links li {
  display: inline-block;
  font-size: 1.25rem;
  padding: 10px 5px;
}

footer .social-links a {
  color: #717683;
}

.has-right-subscribe .subscribe-text {
  line-height: 1.2em;
  font-size: 1rem;
  padding-top: 8px;
  padding-right: 15px;
  text-align: right;
}

.has-right-subscribe .subscribe-text a {
  color: #086FAA;
}

.has-right-subscribe .subscribe-cover {
  position: relative;
}

.has-right-subscribe .subscribe-cover a {
  display: block;
  position: absolute;
  right: -30px;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.has-right-subscribe .subscribe-cover a img {
  max-width: 135px;
  width: 135px;
  height: 120px;
  object-fit: cover;
  object-position: 0 0;
}

.has-right-subscribe .subscribe-cta {
  font-size: 0.9rem;
  line-height: 1.2em;
  padding-bottom: 8px;
  text-align: right;
}

@media (pointer: coarse) {
  .drop-down-menu.sub-nav.tert-nav a:hover, .drop-down-menu.sub-nav.tert-nav a:focus, .drop-down-menu.sub-nav.tert-nav a:focus-within {
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      transform: none !important;
    }
}

@media only screen and (max-width: 999px) {
  .slicknav_menu .social-links {
      text-align: center;
    }

  .has-right-subscribe {
      display: none;
    }

  .masthead .logo {
      margin-left: 40px;
    }

  .sub-nav.drop-down-menu ul li ul {
      min-width: 100%;
      top: inherit;
      left: inherit;
      border-bottom: 0;
      margin-top: 10px;
    }

  .sub-nav.drop-down-menu ul li ul.open {
      display: block;
      position: relative;
      visibility: visible;
      opacity: 1;
    }

  .sub-nav.drop-down-menu ul li ul.closed {
      display: none !important;
    }

  .sub-nav.drop-down-menu ul li ul li {
      margin-bottom: 0;
    }

  .drop-down-menu.sub-nav.tert-nav ul {
      display: block;
      max-width: 100%;
      overflow-y: hidden;
      overflow-x: visible;
      white-space: nowrap;
    }

  .drop-down-menu.sub-nav.tert-nav ul .icon-arrow-down {
      display: none;
    }

  .drop-down-menu.sub-nav.tert-nav ul li {
      display: inline-block;
      padding-right: 20px;
    }

  .utility {
      text-align: center;
    }

  .utility .has-subscribe a {
      margin-bottom: 10px;
    }

  .utility .social-links {
      padding-top: 15px;
    }

  .drop-down-menu.sub-nav.quad-nav small {
      font-size: 1rem;
    }
}

@media only screen and (max-width: 1329px) {
  .has-right-subscribe .subscribe-text strong, .has-right-subscribe .subscribe-text a {
      display: none;
    }
}

@media only screen and (min-width: 1000px) {
  .drop-down-menu.mobile-only-drop .open-mobile-drop {
      display: none !important;
    }

  .masthead {
      text-align: center;
    }

  .masthead .utility {
      display: block;
    }

  .masthead .utility .has-subscribe {
      text-align: left;
    }

  #MainNav_MainNavigationControl_magazineMainNavPanel > .search-bar {
      display: block;
    }

  .utility .social-links {
      text-align: right;
    }

  .utility .social-links a {
      margin-right: 10px;
    }

  .masthead {
      display: block;
    }

  .main.drop-down-menu {
      border-top: 1px solid #e7e6e7;
      padding-top: 20px;
    }
}

@media only screen and (min-width: 1024px) {
  .has-site-logo {
      flex: 0 1 auto;
    }

  .col-lg.has-site-logo {
      flex: 0 1 auto;
    }

  .masthead .logo {
      width: auto;
    }

  .masthead .logo img {
      width: auto;
      height: 50px;
      max-width: 300px;
    }

  footer .social-links {
      border-right: 1px solid #e7e6e7;
    }

  footer .social-links ul {
      margin-top: 25px;
    }

  footer .social-links a {
      font-size: 1.75rem;
    }
}

@media only screen and (min-width: 1296px) {
  .drop-down-menu {
      padding-top: 0px;
    }
}
