<section class="has-logos has-carousel center">
    <div class="wrapper">
        <h3>More You May Be Interested In</h3>
        <div class="caro multi center" data-ga="footer-more-interested">
            
                    <div class="caro-item">
                        <a href="http://www.petersenshunting.com?kref=true"
                            aria-label="Petersen's Hunting "
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-ph.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-ph.png"
                                alt="Petersen's Hunting " class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.northamericanwhitetail.com?kref=true"
                            aria-label="North American Whitetail"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-naw.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-naw.png"
                                alt="North American Whitetail" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.wildfowlmag.com?kref=true"
                            aria-label="Wildfowl "
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-wf.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-wf.png"
                                alt="Wildfowl " class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.gundogmag.com?kref=true"
                            aria-label="Gun Dog Magazine"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-gd.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-gd.png"
                                alt="Gun Dog Magazine" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.gameandfishmag.com?kref=true"
                            aria-label="Game & Fish"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-gf.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-gf.png"
                                alt="Game & Fish" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.gunsandammo.com?kref=true"
                            aria-label="Guns & Ammo"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-ga.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-ga.png"
                                alt="Guns & Ammo" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.rifleshootermag.com?kref=true"
                            aria-label="RifleShooter"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-rs.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-rs.png"
                                alt="RifleShooter" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.shootingtimes.com?kref=true"
                            aria-label="Shooting Times "
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-st.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-st.png"
                                alt="Shooting Times " class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.handgunsmag.com?kref=true"
                            aria-label="Handguns"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-hg.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-hg.png"
                                alt="Handguns" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.firearmsnews.com?kref=true"
                            aria-label="Firearms News"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-fan.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-fan.png"
                                alt="Firearms News" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.floridasportsman.com?kref=true"
                            aria-label="Florida Sportsman"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-fls.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-fls.png"
                                alt="Florida Sportsman" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.in-fisherman.com?kref=true"
                            aria-label="In-Fisherman"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-if.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-if.png"
                                alt="In-Fisherman" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.flyfisherman.com?kref=true"
                            aria-label="Fly Fisherman"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-ff.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-ff.png"
                                alt="Fly Fisherman" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="https://www.outdoorchannel.com/default.aspx?kref=true"
                            aria-label="Outdoor Channel"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-odc.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-odc.png"
                                alt="Outdoor Channel" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.thesportsmanchannel.com?kref=true"
                            aria-label="The Sportsman Channel"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-sc.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-sc.png"
                                alt="The Sportsman Channel" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.worldfishingnetwork.com?kref=true"
                            aria-label="World Fishing Network"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-wfn.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-wfn.png"
                                alt="World Fishing Network" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
                    <div class="caro-item">
                        <a href="http://www.myoutdoortv.com?kref=true"
                            aria-label="My Outdoor TV"
                            target="_blank">
                            <img src="https://www.bowhunter.com/img/gray-logos/ftr-logo-motv.png"
                                data-flickity-lazyload="/img/gray-logos/ftr-logo-motv.png"
                                alt="My Outdoor TV" class="lazy"
                                width="220" height="60"/></a>
                    </div>
                
        </div>
    </div>
</section>
