<section class="has-promo is-magazine-sub">
    <div class="wrapper narrow">
        <div class="row" aria-label="Subscribe to this Magazine">
            <!-- mag promo subscribe ID: 285338 from magazine homepage Related Subscribe_Promos-->
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 center-mobile has-cover">
                <img src="https://content.osgnetworks.tv/bowhunter/content/current-issue/bh_cover.png?dt=20260809" data-src="https://content.osgnetworks.tv/bowhunter/content/current-issue/bh_cover.png?dt=20260809" alt="Bowhunter Magazine Covers Print and Tablet Versions" class="lazy" />
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 center-mobile">
                <h2><em>GET THE MAGAZINE</em>  Subscribe & Save</h2>
                <p class="no-margin-top">Digital Now Included!</p>

                <p><a href="https://www.bowhunter.com/website-bottom-left" 
                    aria-label="&lt;em&gt;GET THE MAGAZINE&lt;/em&gt;  Subscribe &amp; Save"
                    class="btn" target="_blank" >SUBSCRIBE NOW</a></p>
                 <p><a href="https://subs.bowhunter.com/gift?kref=true" 
                      aria-label="&lt;em&gt;GET THE MAGAZINE&lt;/em&gt;  Subscribe &amp; Save"
                     target="_blank">Give a Gift</a>
                      
                     &nbsp;&nbsp;| &nbsp;&nbsp;
                     <a href="https://w1.buysub.com/servlet/CSGateway?cds_mag_code=BOW&kref=true" aria-label="Subscriber Services" target="_blank" >Subscriber Services</a>
                     
                 </p>
                <p><a href="https://www.bowhunter.com/magazine/bowhunter-current-issue/451705" 
                    aria-label="PREVIEW THIS MONTH'S ISSUE" target="_blank"  class="btn secondary">PREVIEW THIS MONTH'S ISSUE</a></p>
            </div>
        </div>
    </div>
</section>
