<section class="full-width-container is-newsletter has-promo" data-request-from="/magazine/nl/im-hunt/bow-signup18.html"
data-request-website-id='153106'>
    <div class="wrapper narrow left center-mobile">
        <h3><em>GET THE NEWSLETTER</em> Join the List and Never Miss a Thing.</h3>
        <p>Get the top Bowhunter stories delivered right to your inbox.</p>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
                <label for="join-email" class="sr-only sr-only-focusable" aria-label="Add an email address">Add an email address</label>
                <input name="join-email" id="join-email" placeholder="Add an email address" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a href="#" class="btn" title="Sign me up" >Sign Me Up</a>
            </div>
        </div>
    </div>
</section>
