<section class="has-carousel has-wide" aria-hidden="true">
     <div class="wrapper no-padding-bottom"><h2><span>Watch</span></h2></div>
        <div class="caro wide feature caps-feature no-padding-top no-padding-bottom" aria-label="Watch Videos">
        
                <div class="caro-item lazy" data-src="https://content.osgnetworks.tv/bowhunter/content/shows/DeadOnPromo.jpg" style="background-image:url('https://content.osgnetworks.tv/bowhunter/content/shows/DeadOnPromo.jpg')">
                    <div class="content">                            
                            <h3><a href="https://www.bowhunter.com/onlineexclusive/dead-on/videos/385119/0">Dead On</a></h3> <!-- url_link_to_item --> <!-- display_name_headline -->
                            <p>Watch episodes of 'Dead On'</p> <!-- page title -->
                            <a href="https://www.bowhunter.com/onlineexclusive/dead-on/videos/385119/0" class="btn reverse">Watch Now</a> <!-- url_link_to_item --> <!-- link text -->
                    </div>
                </div><!-- .caro-item -->
            
                <div class="caro-item lazy" data-src="https://content.osgnetworks.tv/bowhunter/content/shows/PC-Bowhunter.jpg" style="background-image:url('https://content.osgnetworks.tv/bowhunter/content/shows/PC-Bowhunter.jpg')">
                    <div class="content">                            
                            <h3><a href="https://www.bowhunter.com/show/bowhunter-tv/181994/">Bowhunter TV</a></h3> <!-- url_link_to_item --> <!-- display_name_headline -->
                            <p>Watch scenes from 'Bowhunter TV'</p> <!-- page title -->
                            <a href="https://www.bowhunter.com/show/bowhunter-tv/181994/" class="btn reverse">Watch Now</a> <!-- url_link_to_item --> <!-- link text -->
                    </div>
                </div><!-- .caro-item -->
            
    </div>
</section>
